<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TsaTsa</title>
</head>
<body>
    <h1>Jancok Jancok</h1>
    <form th:object="${mahasiswa}" th:method="post" th:action="@{/haloPost}">
        <div class="form-group">
            <label for="nama">Nama</label>
            <input type="text" name="nama" id="nama" class="form-control" th:field="*{nama}"/>
        </div>
        <div class="form-group">
            <label for="umur">Umur</label>
            <input type="number" name="umur" id="umur" th:field="*{umur}"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-btn-primary">Kirim</button>
            <button type="reset" class="btn-btn-warning">Reset</button>
        </div>
    </form>
    <p th:text="${message}">Welcome to our grocery store!</p>
    Sekarang tanggal <p th:text="${tanggal}"> Kamis 29 Agustus</p>

    <h3>Daftar Mahasiswa</h3>
    <table>
        <thead>
        <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Umur</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iterStat: ${listMahasiswa}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${student.nama}">asdasdasd</td>
            <td th:text="${student.umur}">231</td>

        </tr>
        </tbody>
    </table>
</body>
</html>